<div class="create-hero">
    <form [formGroup]="formGroup" *ngIf="inputs">
        <div
            class="create-hero__input"
            *ngFor="let input of inputs"
            [ngSwitch]="input.fieldType">
            <app-input-field
                *ngSwitchCase="fieldType.input"
                [model]="input"
                [form]="formGroup">
            </app-input-field>
            <app-textarea-field
                *ngSwitchCase="fieldType.textarea"
                [model]="input"
                [form]="formGroup">
            </app-textarea-field>
        </div>
        <div class="create-hero__tags">
            <app-add-tag-hero
                class="create-hero__filter-tags"
                *ngIf="tags && heroTags && heroTags.length"
                (emitTags)="addTagsForHero($event)"
                (emitTag)="createNewTag($event)"
                (removeNewTag)="removeNewTag($event)"
                [allTags]="tags"
                [heroTags]="heroTags">
            </app-add-tag-hero>
        </div>
        <app-button *ngIf="formGroup" [text]="'Edit'" [isDisabled]="!formGroup.valid" (emitClick)="editHero()"></app-button>
    </form>
</div>