.footer {
    color: #fff;
    background: #3f51b5;
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.footer__img {
    width: 50px;
}